/* Sets header color */
.bg-gray {
    background-color: #414141;
    color: #414141;
}
.bg-drkgray{
    background-color: #313131;
}

.logo {
    color: #ca3e47
}

.logo-bg{
    background-color: #ca3e47;
}


body {
    background-color: #313131
}

/* Modal Styling */
body {font-family: Arial, Helvetica, sans-serif;}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}

}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #414141;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #414141;
  color: white;
}

.image_off, #logo-home:hover .image_on{
  display:none
}
.image_on, #logo-home:hover .image_off{
  display:block
}