/* Sets header color */
.bg-gray {
    background-color: #414141;
    color: #414141;
}
.bg-drkgray{
    background-color: #313131;
}

.logo {
    color: #ca3e47
}

.logo-bg{
    background-color: #ca3e47;
}


body {
    background-color: #313131
}

/* Modal Styling */
body {font-family: Arial, Helvetica, sans-serif;}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
